<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{author.name}}</title>
</head>
<body>
    <h1>About the Author</h1>
    <br />
    <h3>{{ author.name }}</h3>
    <br />
    <p>{{ author.bio }}</p>
    <br />
    <h3>{{ author.name }}'s Recipes:</h3>
    <br />
    <ul>
    {% for recipe in recipes %}
        <li><a href='../recipe/{{ recipe.id }}'>{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
<a href="/">
    <button>Home</button>
    </a>
</body>
</html>

