<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{recipe.title}}</title>
</head>
<body>
    <h1>All Recipes</h1>
    <br/>
    <ul>
    {% for recipe in recipes %}
        <li><a href='recipe/{{ recipe.id }}'>{{ recipe.title }}</a></li>
    {% endfor %}
    </ul>
    <a href="/newRecipe">
    <button>Create Recipe</button>
    </a>
    <a href="/newAuthor">
    <button>Create Author</button>
    </a>
</body>
</html>